@{
    ViewBag.Title = "login";
    Layout = null;
}
@model NSP.Model.UserInfo
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Scripts.Render("~/Content/js/Tools.js")
    @Scripts.Render("~/Content/js/Core.js")
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>欢迎登录</title>
    <link href="/Content/css/main.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" src="/Content/js/jquery-1.4.4.min.js"></script>
    <script src="/Content/js/cloud.js" type="text/javascript"></script>
    <script src="~/Content/js/Home/Login.js"></script>
    @*<script language="javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function() {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            });
        });
    </script>*@

</head>

<body style="background-color:#1c77ac; background-image:url(/Content/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <form id="login" name="login">
        <div id="mainBody">
            <div id="cloud1" class="cloud"></div>
            <div id="cloud2" class="cloud"></div>
        </div>


        <div class="logintop">
            <span>欢迎登录</span>

        </div>

        <div class="loginbody">

            <span class="systemlogo"></span>
            <form id="form_Login">
                <div class="main">
                    <div class="center">

                        <ul>
                            <li>
                                <p style="margin-bottom: 5px; color: red;" id="p_errorMessage">&nbsp;</p>
                                <input id="text_LoginName" name="UserName" type="text" class="loginuser inputlogin" placeholder="用户名" value="" />
                            </li>
                            <li>
                                <input id="text_LoginPwd" name="PassWord" type="password" class="loginpwd inputlogin" placeholder="密  码" value="" />
                            </li>
                            <li>
                                <input id="button_LoginSubmit" name="button_LoginSubmit" type="button" class="loginbtn inputlogin" value="登  录" />

                                <label style="color: black; font-size: 10pt; font-family: 'Open Sans', 'Microsoft YaHei', 宋体, verdana, arial;"><input id="checkbox_RememberPwd" name="checkbox_RememberPwd" type="checkbox" value="" />记住密码</label>
                                <input type="hidden" id="hidden_IsRememberPwd" name="hidden_IsRememberPwd" />
                            </li>
                        </ul>
                    </div>
                </div>

            </form>
        </div>



        <div class="loginbm">Copyright© 2009-2016   </div>
    </form>

</body>

</html>
